﻿@using System.Web.Optimization
<!DOCTYPE html>
<html>
<head>
	<meta name="viewport" content="width=device-width" />
	<title>Atspėk gyvūną</title>
	@Styles.Render("~/Content/bootstrap")
</head>
<body>
	<div class="navbar navbar-inverse"> 
		<div class="navbar-inner">
			<ul class="nav">
				<li>
					@Html.ActionLink("Pradžia", "Index", "Game")
				</li>
			</ul>
		</div>
	</div>
	<div class="container">
		@RenderBody()
	</div>
	@Scripts.Render("~/bundles/bootstrap")
	<script type="text/javascript">
		$(document).ready(function() {
			$('.container > a').addClass('btn btn-large btn-primary');
		});
	</script>
</body>
</html>
