﻿@model GuessTheAnimal.Web.Models.NewGuess

<h2>Bijau, kad man tenka pasiduoti :(</h2>
@using (Html.BeginForm())
{
	<fieldset>
		<legend>Gerasis žmogau, padėkite man daugiau sužinoti apie šį pasaulį</legend>
		@Html.LabelFor(l => l.Guess)
		@Html.TextBoxFor(l => l.Guess, new{placeholder = "atsakymas"})
		@Html.ValidationMessageFor(l => l.Guess)

		@Html.LabelFor(l => l.Question)
		@Html.TextBoxFor(l => l.Question, new{placeholder = "klausimas"})
		@Html.ValidationMessageFor(l => l.Question)
		
		@Html.HiddenFor(l=> l.Id)
		@Html.HiddenFor(l=> l.AddToYes)

		<br />

		<input type="submit" value="Prisimink" class="btn btn-primary" />
	</fieldset>
}