﻿@model GuessTheAnimal.Web.Models.GuessModel

<h2>Spėju</h2>
<div class="alert alert-info">
	Gal tai yra <strong>@Model.Guess</strong>?
</div>

@Html.ActionLink("Taip", "End")
@if (Model.AppendToYesNode)
{
	@Html.RouteLink("Ne", "Append", new { id = Model.Id, toyes = 1 })
}
else
{
	@Html.RouteLink("Ne", "Ask", new { id = Model.Id, noid = Model.NoId })
}