﻿<h2>Pažaiskim?</h2>

<p class="lead">žaidimas labai paprastas: tu sugalvoji gyvūną (bet man nesakai, gerai?), o aš uždavinėsiu klausimus ir bandysiu atspėti, kas tai.</p>

@Html.ActionLink("Pradedam...", "Start")